/*IMPO FONTS*/

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

body {
  font-family: 'Source Code Pro', monospace;
  margin: 0;
  font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
  background-color: #fff; /* Set a background color for the body */
  line-height: 1.6; /* Improve line height for better readability */
  color: #000;
  text-align: center;
  /* img size is 50x50 */
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 0.92s infinite;
  /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse 0.92s infinite;
  /* Fx 5+ */
  -o-animation: bg-scrolling-reverse 0.92s infinite;
  /* Opera 12+ */
  animation: bg-scrolling-reverse 0.92s infinite;
  /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

body::before {
  font-size: 8rem;
  font-weight: 100;
  font-style: normal;
}

header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  padding: 15px;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}

/* PHOTO AT THE BEGINNING */
.photo {
  position: relative;
  color: white;
  border-bottom: 3px solid #161616;
}

.feed-item {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 5%;
  margin-left: 5%;
}

.feed-item img {
  width: 100%;
  max-width: 700px;
  height: auto;
  object-fit: contain; /* Use 'contain' to ensure the entire image is within the container */
  border: 25px solid rgba(191, 191, 191, 0.5); /* Add a semi-transparent border to simulate glass */
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5); /* Add a semi-transparent blurred shadow */
  border-radius: 25px; /* Add border-radius for rounded corners to the image */
  box-sizing: border-box; /*takes into consideration border*/
}

.feed-item video {
  width: 100%;
  max-width: 700px;
  height: auto;
  object-fit: contain; /* Use 'contain' to ensure the entire image is within the container */
  display: block;
  margin: 0 auto;
  border: 25px solid rgba(191, 191, 191, 0.5); /* Add a semi-transparent border to simulate glass */
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5); /* Add a semi-transparent blurred shadow */
  border-radius: 25px; /* Add border-radius for rounded corners to the image */
  box-sizing: border-box; /*takes into consideration border*/
}

.photo img {
  width: auto;
  height: 100%;
  display: block;
  object-fit: contain; /* Use 'contain' to ensure the entire image is within the container */
  margin: 0 auto;

}

.menu-trigger {
    cursor: pointer;
    color: #fff;
    font-size: 24px;
  }

.menu {
    display: block; /* Set initial display to block */
    background-color: transparent;
    padding: 14px;
    margin: 0;
    transition: opacity 0.3s ease, max-height 0.3s ease;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 5;
    transform: translateX(-50%);
    opacity: 0;
}

.menu a {
  font-family: 'Source Code Pro', monospace;
  text-decoration: none;
  background: linear-gradient(to right,#0F2538, #4c864b, rgb(60, 225, 225),#fff);
  background-size: 200% 200%;
  animation: rainbow 2s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip:text;
  color: #fff;
  font-weight: bold;
  font-size: 30px; /* Set the initial font size */
  transition: font-size 0.3s ease; /* Add a smooth transition effect for font size */
}

.menu a:hover {
  color: rgba(0,0,0,0);
  transform: scale(1.1);
  font-size: 36px; /* Increase the font size on hover */
}

.menu.active {
    max-height: 200px;
    opacity: 1;
    
}

.menu ul {
    list-style: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin to align items properly */
    text-align: center; /* Center the items */
}

.menu li {
    margin: 15px 0;
    font-size: 24px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.0s ease, transform 1.0s ease;
    display: inline-block;
    margin-right: 36px; /* Adjust the delay and spacing for the second li */
    transition-delay: 0.2s; /* Delay the transition for the second li */
}

.menu.active li {
    opacity: 1;
    transform: translateY(0);
    margin-right: 40px; /* Initial spacing */
    transition: opacity 1.0s ease, transform 1.0s ease, margin-right 1.0s ease; /* Add transition for margin-right */
    display: inline-block;
    margin-right: 40px; /* Adjust the delay and spacing for the second li */
    transition-delay: 0.2s; /* Delay the transition for the second li */
}

.menu-trigger.active {
    font-weight: bold;
}

.container a {
    font-family: 'Source Code Pro', monospace;
    color: #000; /* Set the color to black */
    display: inline-block; /* Display links as inline-block elements */
    padding: 10px 20px; /* Add padding to create a button-like appearance */
    background-color: #fff; /* Set the background color */
    border: 2px solid #000; /* Add a border */
    margin-bottom: 10px; /* Add margin between buttons */
    text-align: center; /* Center text within the button */
    font-size: 18px; /* Set the font size */
    text-transform: uppercase; /* Convert text to uppercase */
    transition: all 0.5s ease; /* Add a smooth transition effect */
}

.container a:hover {
    background-color: #000; /* Change background color on hover */
    color: #fff; /* Change text color on hover */
}

.container h2 {
  font-family: 'Source Code Pro', monospace;
}
.container h1 {
  font-family: 'Source Code Pro', monospace;
}

  .title-overlay {
    width: 100%;
  }
  .gradient-text{
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    position: absolute;
    transition: all .5s ease;
    background: linear-gradient(to right, #0F2538, #4c864b, rgb(60, 225, 225), #fff);
    background-size: 200% 200%;
    animation: rainbow 2s ease-in-out infinite;
    background-clip: text;
    -webkit-background-clip:text;
    color: #fff;
    font-size: 70pt;
    width: auto;
    top: 60%;
    left: 5%;
  }
  
  .gradient-text:hover{
    color:rgba(0,0,0,0);
  }

/*MENU HAMBURGER ICON*/
  
  #nav-icon1 {
    width: 60px;
    height: 45px;
    position: relative;
    margin: 50px auto;
    left: 0;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
#nav-icon1:hover {
  transform: scale(1.2);
}

#nav-icon1.open {
    width: 75px; /* Adjust to match the icon size */
    height: 45px; /* Adjust to match the icon size */
    left: calc(50% - 100px); /* Adjust the value accordingly */
}

#nav-icon1:hover span {
  background: linear-gradient(to left, #0F2538, #4c864b, rgb(60, 225, 225)); /* Change the color to white on hover */
  transition: all .5s ease;
  background-size: 200% 200%;
  animation: rainbow 2s ease-in-out infinite;
}
  
#nav-icon1 span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon1 span:nth-child(2),
  #nav-icon1 span:nth-child(3) {
    top: 18px;
  }
  
  #nav-icon1 span:nth-child(4) {
    top: 36px;
  }
  
  #nav-icon1.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
  #nav-icon1.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #nav-icon1.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #nav-icon1.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  /*WINDOW UNDERNEATH THE CHEERPJ*/
  #display {
    background-color: black; /* Set a contrasting background color */
    /* Add other necessary styles */
}

/*when the screen is resized*/
@media (max-width: 1500px) {
  #nav-icon1 {
      width: 60px; /* Adjust the width for smaller screens */
      height: 60px; /* Adjust the height for smaller screens */
      /* ... other styles ... */
  }

  .menu a{
      font-size: 20px; /* Adjust the font size for smaller screens */
      /* ... other styles ... */
  }
  .menu a:hover {
    transform: scale(1.1);
    font-size: 25px; /* Increase the font size on hover */
  }

  #nav-icon1.open {
    width: 60px; /* Adjust to match the icon size */  
    left: calc(50% - 100px); /* Adjust the value accordingly */
}

.gradient-text {
  top: 60%;
  left: 5%;
  font-size: 50pt;
}
}

@media (max-width: 930px) {

  .title-overlay {
    display: none;
  }
}

/*text gradient animated*/
@keyframes rainbow { 
  0%{background-position:left}
  50%{background-position:right}
  100%{background-position:left}
}

/*BACKGROUND TILES*/
@import url(https://fonts.googleapis.com/css?family=Exo:100);
/* Background data (Original source: https://subtlepatterns.com/grid-me/) */
/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
/*footer*/
.footer {
  position: relative;
  width: auto;
  background: #0F2538;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("images/wavesfooterbg.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}